/**
 * Mixins
 */

@mixin button($namespace: "", $background: #f8f8f8, $hover-background: #f8f8f8, $border-color: #ccc, $color: #333){
  .btn#{$namespace} {
    background-color: $background;
    color: $color;
    border: 1px solid $border-color;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    &:hover, &.active {
      background-color: $hover-background;
      text-decoration: none;
    }
  }
}

@mixin form-field-style(){
  background-color: $form-background-color;
  border: 1px solid $form-border-color;
  -webkit-border-radius: $form-border-radius;
  -moz-border-radius: $form-border-radius;
  border-radius: $form-border-radius;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;

  &:focus {
    background-color: $form-focus-background-color;
    border-color: $form-focus-border-color;
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  }
}
