/**
 * Settings
 */

$max-page-width:        1000px;
$ie-max-page-width:     640px;

$lap-break-point:       640px;
$desk-break-point:      980px;

$base-spacing-width:    10px;
$tiny-spacing-width:    2px;
$small-spacing-width:   5px;
$medium-spacing-width:  $base-spacing-width;
$large-spacing-width:   20px;
$huge-spacing-width:    40px;

$color-default:         #333333;
$bg-default:            #ffffff;
$font-default:          Helmet, Freesans, sans-serif;

$border-tiny:           1px;
$border-small:          2px;
$border-medium:         5px;
$border-large:          8px;
$border-huge:           13px;
