/**
 * Background Color
 */

.bgAlert { background-color: #fcf8e3; }
.bgSuccess { background-color: #dff0d8; }
.bgError { background-color: #f2dede; }
.bgInfo { background-color: #d9edf7; }
.bgLight { background-color: #f5f5f5; }
.bgDark { background-color: #333333; }
