/**
 * Border Color

 * bc = border color
 */

.bcAlert { border-color: #fbeed5; }
.bcSuccess { border-color: #d6e9c6; }
.bcError { border-color: #eed3d7; }
.bcInfo { border-color: #bce8f1; }
.bcLight { border-color: #eeeeee; }
.bcDark { border-color: #333333; }
