/**
 * Color
 */

.body { color: $color-default; }
.alert { color: #c09853; }
.success { color: #468847; }
.error { color: #b94a48; }
.info { color: #3a87ad; }
.light { color: #f0f0f0; }
.dark { color: #333333; }
