/**
 * Background Color
 */

.bgAlert { background-color: $bgAlert; }
.bgSuccess { background-color: $bgSuccess; }
.bgError { background-color: $bgError; }
.bgInfo { background-color: $bgInfo; }
.bgBright { background-color: $bgBright; }
.bgNatural { background-color: $bgNatural; }
.bgDim { background-color: $bgDim; }
.bgDull { background-color: $bgDull; }
.bgDark { background-color: $bgDark; }
.bgBrand { background-color: $bgBrand; }
.bgHighlight { background-color: $bgHighlight; }
.bgPrimary { background-color: $bgPrimary; }
.bgSecondary { background-color: $bgSecondary; }
