/**
  * Button
  *
  * @category   JoyceCSS
  * @package    Helper
  * @subpackage Button
**/

.btn {
  padding: $button-padding;
  font-size: $button-font-size;
}

.btnSmall {
  padding: $button-small-padding;
  font-size: $button-small-font-size;
}

.btnLarge {
  padding: $button-large-padding;
  font-size: $button-large-font-size;
}

.btnDisabled {
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
}
