/**
  * Color
  *
  * @category   JoyceCSS
  * @package    Helper
  * @subpackage Color
**/
.body { color: $color-base; }
.base { color: $color-base; }
.highlight { color: $color-highlight; }
.success { color: $color-success; }
.error { color: $color-error; }

/**
  * Background Color
  * bg = background color
  *
  * @category   JoyceCSS
  * @package    Helper
  * @subpackage Background.Color
**/
.body { background-color: $bgBase; }
.bgBase { background-color: $bgBase; }
.bgHighlight { background-color: $bgHighlight; }
.bgSuccess { background-color: $bgSuccess; }
.bgError { background-color: $bgError; }

/**
  * Border Color
  * bc = border color
  *
  * @category   JoyceCSS
  * @package    Helper
  * @subpackage Border.Color
**/
.bcBase { border-color: $bcBase; }
.bcHighlight { border-color: $bcHighlight; }
.bcSuccess { border-color: $bcSuccess; }
.bcError { border-color: $bcError; }
