/**
 * Color
 */

.body { color: $default; }
.alert { color: $alert; }
.success { color: $success; }
.error { color: $error; }
.info { color: $info; }
.bright { color: $bright; }
.natural { color: $natural; }
.dim { color: $dim; }
.dull { color: $dull; }
.dark { color: $dark; }
.brand { color: $brand; }
.highlight { color: $highlight; }
.primary { color: $primary; }
.secondary { color: $secondary; }
