/**
 * Color
 */

.body { color: $default; }
.alert { color: $alert; }
.success { color: $success; }
.error { color: $error; }
.info { color: $info; }
.bright { color: $bright; }
.dim { color: $dim; }
.dark { color: $dark; }
