/**
  * Display
  *
  * @category   JoyceCSS
  * @package    Helper
  * @subpackage Display
**/

.block { display: block; }
.hide { display: none; }
.inline { display: inline; }
.inlineBlock { display: inline-block; }
