/**
 * Form
 */
label, input, button, select, textarea {
    font-size: $base;
    font-weight: normal;
    line-height: $base-line-height;
}
label {
    display: block;
    margin-bottom: $full-spacing;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: $base-height;
    padding: $half-spacing;
    margin-bottom: $full-spacing;
    font-size: $base;
    line-height: $base-line-height;
    color: $default;
}
input, textarea {
  width: 100%;
}
textarea {
  height: auto;
  min-height: 102px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  @include form-field-style;
}
input[type="radio"], input[type="checkbox"] {
    margin: $half-spacing 0;
    *margin-top: 0;
    line-height: normal;
    cursor: pointer;
}
input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
select, input[type="file"] {
    font-size: $base;
    height: $base-height;
    margin-top: $half-spacing;
    line-height: $base-line-height;
}
select {
    width: 220px;
    border: 1px solid $form-border-color;
}
select[multiple], select[size] {
    height: auto;
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: thin dotted $form-focus-background-color;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.radio, .checkbox {
    min-height: $base-height;
    padding-left: $half-spacing;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -$half-spacing;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
    padding-top: $half-spacing;
}
.radio.inline, .checkbox.inline {
    display: inline-block;
    padding-top: $half-spacing;
    margin-bottom: 0;
    vertical-align: middle;
}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
    margin-left: $full-spacing;
}
