/**
  * Media
  *
  * @category   JoyceCSS
  * @package    Helper
  * @subpackage Media
**/

.media {
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}

.media .img {
    float: left;
    margin-right: $medium-spacing;
}

.media .img img { display:block; }

.media .imgExt {
    float: right;
    margin-left: $medium-spacing;
}

/**
  * Fluid Media
  *
  * @category   CSS
  * @package    Helper
  * @subpackage Media.Fluid
**/
.fluid {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
.fluid .img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
