/**
 * Module
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Module
**/

.mod { margin: $medium-spacing; }

.bd, .ft, .hd {
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}
