/**
  * Position
  *
  * @category   JoyceCSS
  * @package    Helper
  * @subpackage Position
**/

.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }
.static { position: static; }
.front { z-index: 999; }
.back { z-index: -999; }
