/**
  * Text
  *
  * @category   JoyceCSS
  * @package    Helper
  * @subpackage Text
 **/

.txtC { text-align: center; }
.txtL { text-align: left; }
.txtR { text-align: right; }
.txtT { vertical-align: top; }
.txtB { vertical-align: bottom; }
.txtM { vertical-align: middle; }

/**
 * Line Height
 */

.veryTight { line-height: 0.5em; }
.tight { line-height: 1.0em; }
.loose { line-height: 2.0em; }
.veryLoose { line-height: 2.5em; }
