/**
 * Typography
 *
 */

a {
  color: $link;
  text-decoration: $link-text-decoration;
}

a:hover {
  text-decoration: $link-hover-text-decoration;
}

a:active, a:focus { outline: 0; }

hr {
  color: $line-color;
  background: $line-color;
  border: none;
  display: block;
  height: $line-height;
  margin: $full-spacing 0;
}

body {
  font-size: $base;
  font-family: $body;
  font-weight: $regular;
  line-height: 1.0em;
}

/*
 * Paragraph and Lists
 */

p,li {
  font-size: $base;
  font-family: $body;
  line-height: $base-line-height;
  margin-bottom: $base-margin-bottom;
}

/*
 * Headings
 */

h1, .h1 {
  font-family: $h1-family;
  font-size: $alpha;
  font-weight: $h1-weight;
  line-height: $alpha-line-height;
  margin-bottom: $alpha-margin-bottom;
}

h2, .h2 {
  font-family: $h2-family;
  font-size: $beta;
  font-weight: $h2-weight;
  line-height: $beta-line-height;
  margin-bottom: $beta-margin-bottom;
}

h3, .h3 {
  font-family: $h3-family;
  font-size: $gamma;
  font-weight: $h3-weight;
  line-height: $gamma-line-height;
  margin-bottom: $gamma-margin-bottom;
}

h4, .h4 {
  font-family: $h4-family;
  font-size: $delta;
  font-weight: $h4-weight;
  line-height: $delta-line-height;
  margin-bottom: $delta-margin-bottom;
}

h5, .h5 {
  font-family: $h5-family;
  font-size: $epsilon;
  font-weight: $h5-weight;
  line-height: $epsilon-line-height;
  margin-bottom: $epsilon-margin-bottom;
}

h6, .h6 {
  font-family: $h6-family;
  font-size: $zeta;
  font-weight: $h6-weight;
  line-height: $zeta-line-height;
  margin-bottom: $zeta-margin-bottom;
}

.alpha {
  font-size: $alpha;
  line-height: $alpha-line-height;
  margin-bottom: $alpha-margin-bottom;
}

.beta {
  font-size: $beta;
  line-height: $beta-line-height;
  margin-bottom: $beta-margin-bottom;
}

.gamma {
  font-size: $gamma;
  line-height: $gamma-line-height;
  margin-bottom: $gamma-margin-bottom;
}

.delta {
  font-size: $delta;
  line-height: $delta-line-height;
  margin-bottom: $delta-margin-bottom;
}

.epsilon {
  font-size: $epsilon;
  line-height: $epsilon-line-height;
  margin-bottom: $epsilon-margin-bottom;
}

.zeta {
  font-size: $zeta;
  line-height: $zeta-line-height;
  margin-bottom: $zeta-margin-bottom;
}

@include media-query(lap){
  body {
    font-size: $lap-base;
  }

  /*
   * Paragraph and Lists
   */

  p,li {
    font-size: $desk-base;
    line-height: $desk-base-line-height;
    margin-bottom: $desk-base-margin-bottom;
  }

  /*
   * Headings
   */

  h1, .h1 {
    font-size: $desk-alpha;
    line-height: $desk-alpha-line-height;
    margin-bottom: $desk-alpha-margin-bottom;
  }

  h2, .h2 {
    font-size: $desk-beta;
    line-height: $desk-beta-line-height;
    margin-bottom: $desk-beta-margin-bottom;
  }

  h3, .h3 {
    font-size: $desk-gamma;
    line-height: $desk-gamma-line-height;
    margin-bottom: $desk-gamma-margin-bottom;
  }

  h4, .h4 {
    font-size: $desk-delta;
    line-height: $desk-delta-line-height;
    margin-bottom: $desk-delta-margin-bottom;
  }

  h5, .h5 {
    font-size: $desk-epsilon;
    line-height: $desk-epsilon-line-height;
    margin-bottom: $desk-epsilon-margin-bottom;
  }

  h6, .h6 {
    font-size: $desk-zeta;
    line-height: $desk-zeta-line-height;
    margin-bottom: $desk-zeta-margin-bottom;
  }

  h6, .h6 {
    font-size: $lap-zeta;
    line-height: $lap-zeta-line-height;
    margin-bottom: $lap-zeta-margin-bottom;
  }

  .alpha {
    font-size: $lap-alpha;
    line-height: $lap-alpha-line-height;
    margin-bottom: $lap-alpha-margin-bottom;
  }

  .beta {
    font-size: $lap-beta;
    line-height: $lap-beta-line-height;
    margin-bottom: $lap-beta-margin-bottom;
  }

  .gamma {
    font-size: $lap-gamma;
    line-height: $lap-gamma-line-height;
    margin-bottom: $lap-gamma-margin-bottom;
  }

  .delta {
    font-size: $lap-delta;
    line-height: $lap-delta-line-height;
    margin-bottom: $lap-delta-margin-bottom;
  }

  .epsilon {
    font-size: $lap-epsilon;
    line-height: $lap-epsilon-line-height;
    margin-bottom: $lap-epsilon-margin-bottom;
  }

  .zeta {
    font-size: $lap-zeta;
    line-height: $lap-zeta-line-height;
    margin-bottom: $lap-zeta-margin-bottom;
  }
}

@include media-query(desk){
  body {
    font-size: $desk-base;
  }

  /*
   * Paragraph and Lists
   */

  p,li {
    font-size: $desk-base;
    line-height: $desk-base-line-height;
    margin-bottom: $desk-base-margin-bottom;
  }

  /*
   * Headings
   */

  h1, .h1 {
    font-size: $desk-alpha;
    line-height: $desk-alpha-line-height;
    margin-bottom: $desk-alpha-margin-bottom;
  }

  h2, .h2 {
    font-size: $desk-beta;
    line-height: $desk-beta-line-height;
    margin-bottom: $desk-beta-margin-bottom;
  }

  h3, .h3 {
    font-size: $desk-gamma;
    line-height: $desk-gamma-line-height;
    margin-bottom: $desk-gamma-margin-bottom;
  }

  h4, .h4 {
    font-size: $desk-delta;
    line-height: $desk-delta-line-height;
    margin-bottom: $desk-delta-margin-bottom;
  }

  h5, .h5 {
    font-size: $desk-epsilon;
    line-height: $desk-epsilon-line-height;
    margin-bottom: $desk-epsilon-margin-bottom;
  }

  h6, .h6 {
    font-size: $desk-zeta;
    line-height: $desk-zeta-line-height;
    margin-bottom: $desk-zeta-margin-bottom;
  }

  .alpha {
    font-size: $desk-alpha;
    line-height: $desk-alpha-line-height;
    margin-bottom: $desk-alpha-margin-bottom;
  }

  .beta {
    font-size: $desk-beta;
    line-height: $desk-beta-line-height;
    margin-bottom: $desk-beta-margin-bottom;
  }

  .gamma {
    font-size: $desk-gamma;
    line-height: $desk-gamma-line-height;
    margin-bottom: $desk-gamma-margin-bottom;
  }

  .delta {
    font-size: $desk-delta;
    line-height: $desk-delta-line-height;
    margin-bottom: $desk-delta-margin-bottom;
  }

  .epsilon {
    font-size: $desk-epsilon;
    line-height: $desk-epsilon-line-height;
    margin-bottom: $desk-epsilon-margin-bottom;
  }

  .zeta {
    font-size: $desk-zeta;
    line-height: $desk-zeta-line-height;
    margin-bottom: $desk-zeta-margin-bottom;
  }
}
