/**
  * Typography
  *
  * @category   CSS
  * @package    Helper
  * @subpackage Typography
**/

a {
  color: $link;
  text-decoration: $link-text-decoration;
}

a:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-text-decoration;
}

a:active, a:focus { outline: 0; }

hr {
  color: $line-color;
  background: $line-color;
  border: none;
  display: block;
  height: $line-height;
  margin: $medium-spacing 0;
}

body {
  font-size: $base;
  font-family: $body;
  font-weight: $weight-base;
  line-height: 1.0em;
}

/*
 * Paragraph and Lists
 */

p,li {
  font-size: $base;
  font-family: $body;
  line-height: $base-line-height;
  margin-bottom: $base-margin-bottom;
}

/*
 * Headings
 */

h1, .h1 {
  font-family: $h1-family;
  font-weight: $h1-weight;
}

h2, .h2 {
  font-family: $h2-family;
  font-weight: $h2-weight;
}

h3, .h3 {
  font-family: $h3-family;
  font-weight: $h3-weight;
}

h4, .h4 {
  font-family: $h4-family;
  font-weight: $h4-weight;
}

h5, .h5 {
  font-family: $h5-family;
  font-weight: $h5-weight;
}

h6, .h6 {
  font-family: $h6-family;
  font-weight: $h6-weight;
}

h1, .h1, .fsg {
  font-size: $fsg;
  line-height: $fsg-line-height;
  margin-bottom: $fsg-margin-bottom;
}

h2, .h2, .fsh {
  font-size: $fsh;
  line-height: $fsh-line-height;
  margin-bottom: $fsh-margin-bottom;
}

h3, .h3, .fsl {
  font-size: $fsl;
  line-height: $fsl-line-height;
  margin-bottom: $fsl-margin-bottom;
}

h4, .h4, .fsm {
  font-size: $fsm;
  line-height: $fsm-line-height;
  margin-bottom: $fsm-margin-bottom;
}

h5, .h5, .fss {
  font-size: $fss;
  line-height: $fss-line-height;
  margin-bottom: $fss-margin-bottom;
}

h6, .h6, .fst {
  font-size: $fst;
  line-height: $fst-line-height;
  margin-bottom: $fst-margin-bottom;
}

@include media-query(lap){
  body {
    font-size: $lap-base;
  }

  /*
   * Paragraph and Lists
   */

  p,li {
    font-size: $lap-base;
    line-height: $lap-base-line-height;
    margin-bottom: $lap-base-margin-bottom;
  }

  /*
   * Headings
   */

  h1, .h1, .fsg {
    font-size: $lap-fsg;
    line-height: $lap-fsg-line-height;
    margin-bottom: $lap-fsg-margin-bottom;
  }

  h2, .h2, .fsh {
    font-size: $lap-fsh;
    line-height: $lap-fsh-line-height;
    margin-bottom: $lap-fsh-margin-bottom;
  }

  h3, .h3, .fsl {
    font-size: $lap-fsl;
    line-height: $lap-fsl-line-height;
    margin-bottom: $lap-fsl-margin-bottom;
  }

  h4, .h4, .fsm {
    font-size: $lap-fsm;
    line-height: $lap-fsm-line-height;
    margin-bottom: $lap-fsm-margin-bottom;
  }

  h5, .h5, .fss {
    font-size: $lap-fss;
    line-height: $lap-fss-line-height;
    margin-bottom: $lap-fss-margin-bottom;
  }

  h6, .h6, .fst {
    font-size: $lap-fst;
    line-height: $lap-fst-line-height;
    margin-bottom: $lap-fst-margin-bottom;
  }
}

@include media-query(desk){
  body {
    font-size: $desk-base;
  }

  /*
   * Paragraph and Lists
   */

  p,li {
    font-size: $desk-base;
    line-height: $desk-base-line-height;
    margin-bottom: $desk-base-margin-bottom;
  }

  /*
   * Headings
   */

  h1, .h1, .fsg {
    font-size: $desk-fsg;
    line-height: $desk-fsg-line-height;
    margin-bottom: $desk-fsg-margin-bottom;
  }

  h2, .h2, .fsh {
    font-size: $desk-fsh;
    line-height: $desk-fsh-line-height;
    margin-bottom: $desk-fsh-margin-bottom;
  }

  h3, .h3, .fsl {
    font-size: $desk-fsl;
    line-height: $desk-fsl-line-height;
    margin-bottom: $desk-fsl-margin-bottom;
  }

  h4, .h4, .fsm {
    font-size: $desk-fsm;
    line-height: $desk-fsm-line-height;
    margin-bottom: $desk-fsm-margin-bottom;
  }

  h5, .h5, .fss {
    font-size: $desk-fss;
    line-height: $desk-fss-line-height;
    margin-bottom: $desk-fss-margin-bottom;
  }

  h6, .h6, .fst {
    font-size: $desk-fst;
    line-height: $desk-fst-line-height;
    margin-bottom: $desk-fst-margin-bottom;
  }
}
