/**
 * Typography
 *
 */

a {
  color: $link;
  text-decoration: $link-text-decoration;
}

a:hover {
  text-decoration: $link-hover-text-decoration;
}

a:active, a:focus { outline: 0; }

hr {
  color: $line-color;
  background: $line-color;
  border: none;
  display: block;
  height: $line-height;
  margin: $full-spacing 0;
}

body {
  font-size: $base;
  font-family: $body;
  font-weight: $weight-base;
  line-height: 1.0em;
}

/*
 * Paragraph and Lists
 */

p,li {
  font-size: $base;
  font-family: $body;
  line-height: $base-line-height;
  margin-bottom: $base-margin-bottom;
}

/*
 * Headings
 */

h1, .h1 {
  font-family: $h1-family;
  font-weight: $h1-weight;
}

h2, .h2 {
  font-family: $h2-family;
  font-weight: $h2-weight;
}

h3, .h3 {
  font-family: $h3-family;
  font-weight: $h3-weight;
}

h1, .h1, .alpha {
  font-size: $alpha;
  line-height: $alpha-line-height;
  margin-bottom: $alpha-margin-bottom;
}

h2, .h2, .beta {
  font-size: $beta;
  line-height: $beta-line-height;
  margin-bottom: $beta-margin-bottom;
}

h3, .h3, .gamma {
  font-size: $gamma;
  line-height: $gamma-line-height;
  margin-bottom: $gamma-margin-bottom;
}

@include media-query(lap){
  body {
    font-size: $lap-base;
  }

  /*
   * Paragraph and Lists
   */

  p,li {
    font-size: $lap-base;
    line-height: $lap-base-line-height;
    margin-bottom: $lap-base-margin-bottom;
  }

  /*
   * Headings
   */

  h1, .h1, .alpha {
    font-size: $lap-alpha;
    line-height: $lap-alpha-line-height;
    margin-bottom: $lap-alpha-margin-bottom;
  }

  h2, .h2, .beta {
    font-size: $lap-beta;
    line-height: $lap-beta-line-height;
    margin-bottom: $lap-beta-margin-bottom;
  }

  h3, .h3, .gamma {
    font-size: $lap-gamma;
    line-height: $lap-gamma-line-height;
    margin-bottom: $lap-gamma-margin-bottom;
  }
}

@include media-query(desk){
  body {
    font-size: $desk-base;
  }

  /*
   * Paragraph and Lists
   */

  p,li {
    font-size: $desk-base;
    line-height: $desk-base-line-height;
    margin-bottom: $desk-base-margin-bottom;
  }

  /*
   * Headings
   */

  h1, .h1, .alpha {
    font-size: $desk-alpha;
    line-height: $desk-alpha-line-height;
    margin-bottom: $desk-alpha-margin-bottom;
  }

  h2, .h2, .beta {
    font-size: $desk-beta;
    line-height: $desk-beta-line-height;
    margin-bottom: $desk-beta-margin-bottom;
  }

  h3, .h3, .gamma {
    font-size: $desk-gamma;
    line-height: $desk-gamma-line-height;
    margin-bottom: $desk-gamma-margin-bottom;
  }
}
