/**
 * Add all your reusable CSS modules here, we added a few to get you started.
 */

/******************************************************************
  Modules
******************************************************************/

/* Media Object */
.mod-media {
  @extend %module;
}

.mod-media-body {
  @extend %media-body;
}

.mod-media-img {
  @extend %media-img;
}

.mod-media-img-ext {
  @extend %media-img-ext;
}

/* Responsive Images */
.mod-fluid {
  @extend %fluid;
}

.mod-fluid-img {
  @extend %fluid-img;
}

/* Buttons */
.mod-btn {
  @extend %form-action-default;
}

.mod-btn-cancel {
  @extend %form-action-cancel;
}

.mod-brand {
  @extend %text-uppercase, %text-none;
  color: $color-brand;
}

/* Navigation */

.mod-nav {
  @include make-row;
  height: $nav-height;
}

.mod-nav-logo {
  @extend .col-palm-6;

  @include tab {
    float: left;
    width: $nav-logo-width;
  }
}

.mod-nav-menu-toggle {
  @extend .col-palm-6;
  @extend %tab-hide;
}

.mod-nav-menu-toggle-control {
  @extend %tab-hide;
  float: right;
  position: relative;
  z-index: 1000;
}

.mod-nav-menu {
  @extend %hide;

  @include to($tab) {
    background: white;
    left: 0;
    top: $nav-height;
    position: absolute;
    width: 100%;
  }

  @include tab {
    display: block !important;
    margin-left: $nav-logo-width;
    width: auto;
  }
}

.mod-nav-menu-item {
  @extend .col-palm-12;

  @include tab {
    @extend %tab-inline-block;
    width: auto;
  }
}
