@mixin visibility-setup($namespace: "") {
  .#{$namespace}is-hidden,
  %#{$namespace}is-hidden {
    display: none;
  }

  .#{$namespace}is-invisible,
  %#{$namespace}is-invisible {
    visibility: none;
  }
}

@mixin is-hidden {
  display: none;
}

@mixin is-invisible {
  visibility: none;
}
