/**
 * Form
 * Forked from https://gist.github.com/mjlescano/fc472f778e77c4b760ab which was forked from https://gist.github.com/anthonyshort/552543
 */

@mixin form-reset-general {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  vertical-align: middle; // IE6,IE7
  white-space: normal;
  line-height: inherit;
  background: none;

  /* Browsers have different default form fonts */
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

%form-reset-general {
  @include form-reset-general;
}

@mixin form-reset-default-box-sizing {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

%form-reset-default-box-sizing {
  @include form-reset-default-box-sizing;
}

@mixin form-reset-special-box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%form-reset-special-box-sizing {
  @include form-reset-special-box-sizing;
}

@mixin form-reset-input-specific {
  &:focus {
    outline: 0;
  }

  &[type=checkbox],
  &[type=radio] {
    width: 13px;
    height: 13px;
  }

  /* Make webkit render the search input like a normal text field */
  &[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
  }

  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  @at-root {
    ::-webkit-search-decoration {
      display: none;
    }
  }

  /* Fix IE7 display bug */
  &[type="reset"],
  &[type="button"],
  &[type="submit"] {
    overflow: visible;
  }
}

@mixin form-reset-input {
  @include form-reset-general;
  @include form-reset-default-box-sizing;
  @include form-reset-input-specific;

  /* These elements are usually rendered a certain way by the browser */
  &[type=reset],
  &[type=button],
  &[type=submit],
  &[type=checkbox],
  &[type=radio] {
    @include form-reset-special-box-sizing;
  }
}

%form-reset-input {
  @extend %form-reset-general;
  @extend %form-reset-default-box-sizing;
  @include form-reset-input-specific;

  /* These elements are usually rendered a certain way by the browser */
  &[type=reset],
  &[type=button],
  &[type=submit],
  &[type=checkbox],
  &[type=radio] {
    @extend %form-reset-special-box-sizing;
  }
}

@mixin form-reset-label {
  @include form-reset-general;
}

%form-reset-label {
  @extend %form-reset-general;
}

@mixin form-reset-select-specific {
  /* Move the label to the top */
  &[multiple] {
    vertical-align: top;
  }
}

@mixin form-reset-select {
  @include form-reset-general;
  @include form-reset-special-box-sizing;
  @include form-reset-select-specific;
}

%form-reset-select {
  @extend %form-reset-general;
  @extend %form-reset-special-box-sizing;
  @include form-reset-select-specific;
}

@mixin form-reset-button-specific {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }

  /* IE8 and FF freak out if this rule is within another selector */
  @at-root {
    ::-webkit-file-upload-button {
      padding: 0;
      border: 0;
      background: none;
    }
  }
}

@mixin form-reset-button {
  @include form-reset-general;
  @include form-reset-button-specific;
}

%form-reset-button {
  @extend %form-reset-general;
  @include form-reset-button-specific;
}

@mixin form-reset-textarea-specific {
  &:focus {
    outline: 0;
  }

  /* Move the label to the top */
  vertical-align: top;

  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

@mixin form-reset-textarea {
  @include form-reset-general;
  @include form-reset-default-box-sizing;
  @include form-reset-textarea-specific;
}

%form-reset-textarea {
  @extend %form-reset-general;
  @extend %form-reset-default-box-sizing;
  @include form-reset-textarea-specific;
}

%form-element {
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: $form-font-size;
  -webkit-transition: border-color 0.2s, background 0.2s;
  -moz-transition: border-color 0.2s, background 0.2s;
  -ms-transition: border-color 0.2s, background 0.2s;
  -o-transition: border-color 0.2s, background 0.2s;
  transition: border-color 0.2s, background 0.2s;
}

%form-control {
  @extend %form-element;
  background-color: $form-background;
  border: $form-border-size solid $form-border-color;
  border-radius: $form-border-radius;
  line-height: normal;
  padding: 12px;

  &:focus {
    background-color: $form-background;
    border-color: $form-focus-border-color;
  }
}

%form-control-single {
  height: $form-element-height;
}

%form-action {
  @extend %form-reset-button, %form-element, %form-control-single;
  background: $form-action-background;
  border: $form-action-border-size solid $form-action-border-color;
  color: $form-action-color;
  cursor: pointer;
  line-height: $form-element-height;
  padding: 0 24px;
  vertical-align: middle;
  text-decoration: none;

  &:hover, &:focus, &:active {
    background: $form-action-hover-background;
    border-color: $form-action-hover-border-color;
    color: $form-action-hover-color;
    text-decoration: none;
  }
}

label {
  @extend %form-reset-label;
}

select {
  @extend %form-reset-select, %form-control, %form-control-single;
}

button, input[type=submit] {
  @extend %form-action;
}

textarea {
  @extend %form-reset-textarea, %form-control;
  min-height: $form-element-height * 3;
}

input {
  @extend %form-reset-input;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
 @extend %form-control, %form-control-single
}

input[type=checkbox], input[type=radio] {
  visibility: hidden;
  height: 0;
  width: 0;
}

input[type=checkbox]:checked + label.checkbox {
  &:before {
    content: "\2713";
    border-color: $form-focus-border-color;
  }
}

input[type=radio]:checked + label.radio {
  &:before {
    background-color: $form-focus-border-color;
    border-color: $form-focus-border-color;
  }
}

label.checkbox {
  line-height: $form-element-height;
  padding-left: $form-element-height + 5;
  position: relative;

  &:before {
    border: $form-border-size solid $form-border-color;
    border-radius: $form-border-radius;
    color: $form-focus-border-color;
    content: "";
    font-size: 24px;
    height: $form-element-height - 10;
    line-height: $form-element-height - 10;
    left: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: $form-element-height - 10;
  }
}

label.radio {
  @extend label.checkbox;

  &:before {
    border-radius: 100px;
  }
}
