/**
  * Space
  *
**/
@mixin space-setup($namespace: "") {
  %#{$namespace}padding-top-n, %#{$namespace}padding-vertical-n, %#{$namespace}padding-all-n { padding-top: 0px !important; }
  %#{$namespace}padding-top-xxs, %#{$namespace}padding-vertical-xxs, %#{$namespace}padding-all-xxs { padding-top: $space-xxs !important; }
  %#{$namespace}padding-top-xs, %#{$namespace}padding-vertical-xs, %#{$namespace}padding-all-xs { padding-top: $space-xs !important; }
  %#{$namespace}padding-top-s, %#{$namespace}padding-vertical-s, %#{$namespace}padding-all-s { padding-top: $space-s !important; }
  %#{$namespace}padding-top-m, %#{$namespace}padding-vertical-m, %#{$namespace}padding-all-m { padding-top: $space-m !important; }
  %#{$namespace}padding-top-l, %#{$namespace}padding-vertical-l, %#{$namespace}padding-all-l { padding-top: $space-l !important; }
  %#{$namespace}padding-top-xl, %#{$namespace}padding-vertical-xl, %#{$namespace}padding-all-xl { padding-top: $space-xl !important; }
  %#{$namespace}padding-top-xxl, %#{$namespace}padding-vertical-xxl, %#{$namespace}padding-all-xxl { padding-top: $space-xxl !important; }

  %#{$namespace}padding-bottom-n, %#{$namespace}padding-vertical-n, %#{$namespace}padding-all-n { padding-bottom: 0px !important; }
  %#{$namespace}padding-bottom-xxs, %#{$namespace}padding-vertical-xxs, %#{$namespace}padding-all-xxs { padding-bottom: $space-xxs !important; }
  %#{$namespace}padding-bottom-xs, %#{$namespace}padding-vertical-xs, %#{$namespace}padding-all-xs { padding-bottom: $space-xs !important; }
  %#{$namespace}padding-bottom-s, %#{$namespace}padding-vertical-s, %#{$namespace}padding-all-s { padding-bottom: $space-s !important; }
  %#{$namespace}padding-bottom-m, %#{$namespace}padding-vertical-m, %#{$namespace}padding-all-m { padding-bottom: $space-m !important; }
  %#{$namespace}padding-bottom-l, %#{$namespace}padding-vertical-l, %#{$namespace}padding-all-l { padding-bottom: $space-l !important; }
  %#{$namespace}padding-bottom-xl, %#{$namespace}padding-vertical-xl, %#{$namespace}padding-all-xl { padding-bottom: $space-xl !important; }
  %#{$namespace}padding-bottom-xxl, %#{$namespace}padding-vertical-xxl, %#{$namespace}padding-all-xxl { padding-bottom: $space-xxl !important; }

  %#{$namespace}padding-left-n, %#{$namespace}padding-horizontal-n, %#{$namespace}padding-all-n { padding-left: 0px !important; }
  %#{$namespace}padding-left-xxs, %#{$namespace}padding-horizontal-xxs, %#{$namespace}padding-all-xxs { padding-left: $space-xxs !important; }
  %#{$namespace}padding-left-xs, %#{$namespace}padding-horizontal-xs, %#{$namespace}padding-all-xs { padding-left: $space-xs !important; }
  %#{$namespace}padding-left-s, %#{$namespace}padding-horizontal-s, %#{$namespace}padding-all-s { padding-left: $space-s !important; }
  %#{$namespace}padding-left-m, %#{$namespace}padding-horizontal-m, %#{$namespace}padding-all-m { padding-left: $space-m !important; }
  %#{$namespace}padding-left-l, %#{$namespace}padding-horizontal-l, %#{$namespace}padding-all-l { padding-left: $space-l !important; }
  %#{$namespace}padding-left-xl, %#{$namespace}padding-horizontal-xl, %#{$namespace}padding-all-xl { padding-left: $space-xl !important; }
  %#{$namespace}padding-left-xxl, %#{$namespace}padding-horizontal-xxl, %#{$namespace}padding-all-xxl { padding-left: $space-xxl !important; }

  %#{$namespace}padding-right-n, %#{$namespace}padding-horizontal-n, %#{$namespace}padding-all-n { padding-right: 0px !important; }
  %#{$namespace}padding-right-xxs, %#{$namespace}padding-horizontal-xxs, %#{$namespace}padding-all-xxs { padding-right: $space-xxs !important; }
  %#{$namespace}padding-right-xs, %#{$namespace}padding-horizontal-xs, %#{$namespace}padding-all-xs { padding-right: $space-xs !important; }
  %#{$namespace}padding-right-s, %#{$namespace}padding-horizontal-s, %#{$namespace}padding-all-s { padding-right: $space-s !important; }
  %#{$namespace}padding-right-m, %#{$namespace}padding-horizontal-m, %#{$namespace}padding-all-m { padding-right: $space-m !important; }
  %#{$namespace}padding-right-l, %#{$namespace}padding-horizontal-l, %#{$namespace}padding-all-l { padding-right: $space-l !important; }
  %#{$namespace}padding-right-xl, %#{$namespace}padding-horizontal-xl, %#{$namespace}padding-all-xl { padding-right: $space-xl !important; }
  %#{$namespace}padding-right-xxl, %#{$namespace}padding-horizontal-xxl, %#{$namespace}padding-all-xxl { padding-right: $space-xxl !important; }

  %#{$namespace}margin-top-n, %#{$namespace}margin-vertical-n, %#{$namespace}margin-all-n { margin-top: 0px !important; }
  %#{$namespace}margin-top-xxs, %#{$namespace}margin-vertical-xxs, %#{$namespace}margin-all-xxs { margin-top: $space-xxs !important; }
  %#{$namespace}margin-top-xs, %#{$namespace}margin-vertical-xs, %#{$namespace}margin-all-xs { margin-top: $space-xs !important; }
  %#{$namespace}margin-top-s, %#{$namespace}margin-vertical-s, %#{$namespace}margin-all-s { margin-top: $space-s !important; }
  %#{$namespace}margin-top-m, %#{$namespace}margin-vertical-m, %#{$namespace}margin-all-m { margin-top: $space-m !important; }
  %#{$namespace}margin-top-l, %#{$namespace}margin-vertical-l, %#{$namespace}margin-all-l { margin-top: $space-l !important; }
  %#{$namespace}margin-top-xl, %#{$namespace}margin-vertical-xl, %#{$namespace}margin-all-xl { margin-top: $space-xl !important; }
  %#{$namespace}margin-top-xxl, %#{$namespace}margin-vertical-xxl, %#{$namespace}margin-all-xxl { margin-top: $space-xxl !important; }

  %#{$namespace}margin-bottom-n, %#{$namespace}margin-vertical-n, %#{$namespace}margin-all-n { margin-bottom: 0px !important; }
  %#{$namespace}margin-bottom-xxs, %#{$namespace}margin-vertical-xxs, %#{$namespace}margin-all-xxs { margin-bottom: $space-xxs !important; }
  %#{$namespace}margin-bottom-xs, %#{$namespace}margin-vertical-xs, %#{$namespace}margin-all-xs { margin-bottom: $space-xs !important; }
  %#{$namespace}margin-bottom-s, %#{$namespace}margin-vertical-s, %#{$namespace}margin-all-s { margin-bottom: $space-s !important; }
  %#{$namespace}margin-bottom-m, %#{$namespace}margin-vertical-m, %#{$namespace}margin-all-m { margin-bottom: $space-m !important; }
  %#{$namespace}margin-bottom-l, %#{$namespace}margin-vertical-l, %#{$namespace}margin-all-l { margin-bottom: $space-l !important; }
  %#{$namespace}margin-bottom-xl, %#{$namespace}margin-vertical-xl, %#{$namespace}margin-all-xl { margin-bottom: $space-xl !important; }
  %#{$namespace}margin-bottom-xxl, %#{$namespace}margin-vertical-xxl, %#{$namespace}margin-all-xxl { margin-bottom: $space-xxl !important; }

  %#{$namespace}margin-left-n, %#{$namespace}margin-horizontal-n, %#{$namespace}margin-all-n { margin-left: 0px !important; }
  %#{$namespace}margin-left-xxs, %#{$namespace}margin-horizontal-xxs, %#{$namespace}margin-all-xxs { margin-left: $space-xxs !important; }
  %#{$namespace}margin-left-xs, %#{$namespace}margin-horizontal-xs, %#{$namespace}margin-all-xs { margin-left: $space-xs !important; }
  %#{$namespace}margin-left-s, %#{$namespace}margin-horizontal-s, %#{$namespace}margin-all-s { margin-left: $space-s !important; }
  %#{$namespace}margin-left-m, %#{$namespace}margin-horizontal-m, %#{$namespace}margin-all-m { margin-left: $space-m !important; }
  %#{$namespace}margin-left-l, %#{$namespace}margin-horizontal-l, %#{$namespace}margin-all-l { margin-left: $space-l !important; }
  %#{$namespace}margin-left-xl, %#{$namespace}margin-horizontal-xl, %#{$namespace}margin-all-xl { margin-left: $space-xl !important; }
  %#{$namespace}margin-left-xxl, %#{$namespace}margin-horizontal-xxl, %#{$namespace}margin-all-xxl { margin-left: $space-xxl !important; }

  %#{$namespace}margin-right-n, %#{$namespace}margin-horizontal-n, %#{$namespace}margin-all-n { margin-right: 0px !important; }
  %#{$namespace}margin-right-xxs, %#{$namespace}margin-horizontal-xxs, %#{$namespace}margin-all-xxs { margin-right: $space-xxs !important; }
  %#{$namespace}margin-right-xs, %#{$namespace}margin-horizontal-xs, %#{$namespace}margin-all-xs { margin-right: $space-xs !important; }
  %#{$namespace}margin-right-s, %#{$namespace}margin-horizontal-s, %#{$namespace}margin-all-s { margin-right: $space-s !important; }
  %#{$namespace}margin-right-m, %#{$namespace}margin-horizontal-m, %#{$namespace}margin-all-m { margin-right: $space-m !important; }
  %#{$namespace}margin-right-l, %#{$namespace}margin-horizontal-l, %#{$namespace}margin-all-l { margin-right: $space-l !important; }
  %#{$namespace}margin-right-xl, %#{$namespace}margin-horizontal-xl, %#{$namespace}margin-all-xl { margin-right: $space-xl !important; }
  %#{$namespace}margin-right-xxl, %#{$namespace}margin-horizontal-xxl, %#{$namespace}margin-all-xxl { margin-right: $space-xxl !important; }

  %#{$namespace}margin-horizontal-auto { margin-left: auto !important; }
  %#{$namespace}margin-horizontal-auto { margin-right: auto !important; }
}
