body {
}
/**
 *    _____ _                  _ _
 *  / ____| |                (_) |
 *  | (___ | |_ ___ _ __   ___ _| |
 *  \___ \| __/ _ \ '_ \ / __| | |
 *  ____) | ||  __/ | | | (__| | |
 *  |_____/ \__\___|_| |_|\___|_|_|
 *
 *  - - - - - - - - - - - - - - - - */
html {
  color: black;
  background: white;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1em sans-serif;
  *font-size: small;
  *font: x-small;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%;
}

select,
input,
button,
textarea {
  font: 99% sans-serif;
}

legend {
  color: black;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  box-sizing: border-box;
  line-height: 1;
  width: 100%;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

.is-hidden {
  display: none;
}

.is-invisible {
  visibility: none;
}

.is-visible {
  visibility: visible;
}

.is-responsive, img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .tab-block {
    display: block;
  }

  .tab-inline {
    display: inline;
  }

  .tab-inline-block {
    display: inline-block;
  }

  .tab-relative {
    position: relative;
  }

  .tab-absolute {
    position: absolute;
  }

  .tab-fixed {
    position: fixed;
  }

  .tab-static {
    position: static;
  }

  .tab-is-hidden {
    display: none;
  }

  .tab-is-invisible {
    visibility: none;
  }

  .tab-is-visible {
    visibility: visible;
  }

  .tab-is-responsive {
    width: 100%;
  }

  .tab-is-responsive {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .tab-padding-top-n,
  .tab-padding-vertical-n,
  .tab-padding-all-n {
    padding-top: 0 !important;
  }

  .tab-padding-top-s,
  .tab-padding-vertical-s,
  .tab-padding-all-s {
    padding-top: 15px !important;
  }

  .tab-padding-top-m,
  .tab-padding-vertical-m,
  .tab-padding-all-m {
    padding-top: 30px !important;
  }

  .tab-padding-top-l,
  .tab-padding-vertical-l,
  .tab-padding-all-l {
    padding-top: 60px !important;
  }

  .tab-padding-bottom-n,
  .tab-padding-vertical-n,
  .tab-padding-all-n {
    padding-bottom: 0 !important;
  }

  .tab-padding-bottom-s,
  .tab-padding-vertical-s,
  .tab-padding-all-s {
    padding-bottom: 15px !important;
  }

  .tab-padding-bottom-m,
  .tab-padding-vertical-m,
  .tab-padding-all-m {
    padding-bottom: 30px !important;
  }

  .tab-padding-bottom-l,
  .tab-padding-vertical-l,
  .tab-padding-all-l {
    padding-bottom: 60px !important;
  }

  .tab-padding-left-n,
  .tab-padding-horizontal-n,
  .tab-padding-all-n {
    padding-left: 0 !important;
  }

  .tab-padding-left-s,
  .tab-padding-horizontal-s,
  .tab-padding-all-s {
    padding-left: 15px !important;
  }

  .tab-padding-left-m,
  .tab-padding-horizontal-m,
  .tab-padding-all-m {
    padding-left: 30px !important;
  }

  .tab-padding-left-l,
  .tab-padding-horizontal-l,
  .tab-padding-all-l {
    padding-left: 60px !important;
  }

  .tab-padding-right-n,
  .tab-padding-horizontal-n,
  .tab-padding-all-n {
    padding-right: 0 !important;
  }

  .tab-padding-right-s,
  .tab-padding-horizontal-s,
  .tab-padding-all-s {
    padding-right: 15px !important;
  }

  .tab-padding-right-m,
  .tab-padding-horizontal-m,
  .tab-padding-all-m {
    padding-right: 30px !important;
  }

  .tab-padding-right-l,
  .tab-padding-horizontal-l,
  .tab-padding-all-l {
    padding-right: 60px !important;
  }

  .tab-margin-top-n,
  .tab-margin-vertical-n,
  .tab-margin-all-n {
    margin-top: 0 !important;
  }

  .tab-margin-top-s,
  .tab-margin-vertical-s,
  .tab-margin-all-s {
    margin-top: 15px !important;
  }

  .tab-margin-top-m,
  .tab-margin-vertical-m,
  .tab-margin-all-m {
    margin-top: 30px !important;
  }

  .tab-margin-top-l,
  .tab-margin-vertical-l,
  .tab-margin-all-l {
    margin-top: 60px !important;
  }

  .tab-margin-bottom-n,
  .tab-margin-vertical-n,
  .tab-margin-all-n {
    margin-bottom: 0 !important;
  }

  .tab-margin-bottom-s,
  .tab-margin-vertical-s,
  .tab-margin-all-s {
    margin-bottom: 15px !important;
  }

  .tab-margin-bottom-m,
  .tab-margin-vertical-m,
  .tab-margin-all-m {
    margin-bottom: 30px !important;
  }

  .tab-margin-bottom-l,
  .tab-margin-vertical-l,
  .tab-margin-all-l {
    margin-bottom: 60px !important;
  }

  .tab-margin-left-n,
  .tab-margin-horizontal-n,
  .tab-margin-all-n {
    margin-left: 0 !important;
  }

  .tab-margin-left-s,
  .tab-margin-horizontal-s,
  .tab-margin-all-s {
    margin-left: 15px !important;
  }

  .tab-margin-left-m,
  .tab-margin-horizontal-m,
  .tab-margin-all-m {
    margin-left: 30px !important;
  }

  .tab-margin-left-l,
  .tab-margin-horizontal-l,
  .tab-margin-all-l {
    margin-left: 60px !important;
  }

  .tab-margin-right-n,
  .tab-margin-horizontal-n,
  .tab-margin-all-n {
    margin-right: 0 !important;
  }

  .tab-margin-right-s,
  .tab-margin-horizontal-s,
  .tab-margin-all-s {
    margin-right: 15px !important;
  }

  .tab-margin-right-m,
  .tab-margin-horizontal-m,
  .tab-margin-all-m {
    margin-right: 30px !important;
  }

  .tab-margin-right-l,
  .tab-margin-horizontal-l,
  .tab-margin-all-l {
    margin-right: 60px !important;
  }

  .tab-margin-horizontal-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .tab-text-xxs {
    font-size: 12px;
  }

  .tab-text-xs {
    font-size: 14px;
  }

  .tab-text-s {
    font-size: 18px;
  }

  .tab-text-m {
    font-size: 24px;
  }

  .tab-text-l {
    font-size: 30px;
  }

  .tab-text-xl {
    font-size: 42px;
  }

  .tab-text-xxl {
    font-size: 60px;
  }

  .tab-letter-s {
    letter-spacing: 0.05em;
  }

  .tab-letter-m {
    letter-spacing: 1px;
  }

  .tab-letter-l {
    letter-spacing: 3px;
  }

  .tab-text-center {
    text-align: center;
  }

  .tab-text-left {
    text-align: left;
  }

  .tab-text-right {
    text-align: right;
  }

  .tab-text-top {
    vertical-align: top;
  }

  .tab-text-bottom {
    vertical-align: bottom;
  }

  .tab-text-middle {
    vertical-align: middle;
  }

  .tab-text-uppercase {
    text-transform: uppercase;
  }

  .tab-text-lowercase {
    text-transform: lowercase;
  }

  .tab-text-capitalize {
    text-transform: capitalize;
  }

  .tab-text-underline {
    text-decoration: underline;
  }

  .tab-text-none {
    text-decoration: none;
  }

  .tab-line-s {
    line-height: 1.2;
  }

  .tab-line-m {
    line-height: 1.4;
  }

  .tab-line-l {
    line-height: 1.6;
  }

  .tab-hyphenate {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}
@media screen and (min-width: 1024px) {
  .lap-block {
    display: block;
  }

  .lap-inline {
    display: inline;
  }

  .lap-inline-block {
    display: inline-block;
  }

  .lap-relative {
    position: relative;
  }

  .lap-absolute {
    position: absolute;
  }

  .lap-fixed {
    position: fixed;
  }

  .lap-static {
    position: static;
  }

  .lap-is-hidden {
    display: none;
  }

  .lap-is-invisible {
    visibility: none;
  }

  .lap-is-visible {
    visibility: visible;
  }

  .lap-is-responsive {
    width: 100%;
  }

  .lap-is-responsive {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .lap-padding-top-n,
  .lap-padding-vertical-n,
  .lap-padding-all-n {
    padding-top: 0 !important;
  }

  .lap-padding-top-s,
  .lap-padding-vertical-s,
  .lap-padding-all-s {
    padding-top: 15px !important;
  }

  .lap-padding-top-m,
  .lap-padding-vertical-m,
  .lap-padding-all-m {
    padding-top: 30px !important;
  }

  .lap-padding-top-l,
  .lap-padding-vertical-l,
  .lap-padding-all-l {
    padding-top: 60px !important;
  }

  .lap-padding-bottom-n,
  .lap-padding-vertical-n,
  .lap-padding-all-n {
    padding-bottom: 0 !important;
  }

  .lap-padding-bottom-s,
  .lap-padding-vertical-s,
  .lap-padding-all-s {
    padding-bottom: 15px !important;
  }

  .lap-padding-bottom-m,
  .lap-padding-vertical-m,
  .lap-padding-all-m {
    padding-bottom: 30px !important;
  }

  .lap-padding-bottom-l,
  .lap-padding-vertical-l,
  .lap-padding-all-l {
    padding-bottom: 60px !important;
  }

  .lap-padding-left-n,
  .lap-padding-horizontal-n,
  .lap-padding-all-n {
    padding-left: 0 !important;
  }

  .lap-padding-left-s,
  .lap-padding-horizontal-s,
  .lap-padding-all-s {
    padding-left: 15px !important;
  }

  .lap-padding-left-m,
  .lap-padding-horizontal-m,
  .lap-padding-all-m {
    padding-left: 30px !important;
  }

  .lap-padding-left-l,
  .lap-padding-horizontal-l,
  .lap-padding-all-l {
    padding-left: 60px !important;
  }

  .lap-padding-right-n,
  .lap-padding-horizontal-n,
  .lap-padding-all-n {
    padding-right: 0 !important;
  }

  .lap-padding-right-s,
  .lap-padding-horizontal-s,
  .lap-padding-all-s {
    padding-right: 15px !important;
  }

  .lap-padding-right-m,
  .lap-padding-horizontal-m,
  .lap-padding-all-m {
    padding-right: 30px !important;
  }

  .lap-padding-right-l,
  .lap-padding-horizontal-l,
  .lap-padding-all-l {
    padding-right: 60px !important;
  }

  .lap-margin-top-n,
  .lap-margin-vertical-n,
  .lap-margin-all-n {
    margin-top: 0 !important;
  }

  .lap-margin-top-s,
  .lap-margin-vertical-s,
  .lap-margin-all-s {
    margin-top: 15px !important;
  }

  .lap-margin-top-m,
  .lap-margin-vertical-m,
  .lap-margin-all-m {
    margin-top: 30px !important;
  }

  .lap-margin-top-l,
  .lap-margin-vertical-l,
  .lap-margin-all-l {
    margin-top: 60px !important;
  }

  .lap-margin-bottom-n,
  .lap-margin-vertical-n,
  .lap-margin-all-n {
    margin-bottom: 0 !important;
  }

  .lap-margin-bottom-s,
  .lap-margin-vertical-s,
  .lap-margin-all-s {
    margin-bottom: 15px !important;
  }

  .lap-margin-bottom-m,
  .lap-margin-vertical-m,
  .lap-margin-all-m {
    margin-bottom: 30px !important;
  }

  .lap-margin-bottom-l,
  .lap-margin-vertical-l,
  .lap-margin-all-l {
    margin-bottom: 60px !important;
  }

  .lap-margin-left-n,
  .lap-margin-horizontal-n,
  .lap-margin-all-n {
    margin-left: 0 !important;
  }

  .lap-margin-left-s,
  .lap-margin-horizontal-s,
  .lap-margin-all-s {
    margin-left: 15px !important;
  }

  .lap-margin-left-m,
  .lap-margin-horizontal-m,
  .lap-margin-all-m {
    margin-left: 30px !important;
  }

  .lap-margin-left-l,
  .lap-margin-horizontal-l,
  .lap-margin-all-l {
    margin-left: 60px !important;
  }

  .lap-margin-right-n,
  .lap-margin-horizontal-n,
  .lap-margin-all-n {
    margin-right: 0 !important;
  }

  .lap-margin-right-s,
  .lap-margin-horizontal-s,
  .lap-margin-all-s {
    margin-right: 15px !important;
  }

  .lap-margin-right-m,
  .lap-margin-horizontal-m,
  .lap-margin-all-m {
    margin-right: 30px !important;
  }

  .lap-margin-right-l,
  .lap-margin-horizontal-l,
  .lap-margin-all-l {
    margin-right: 60px !important;
  }

  .lap-margin-horizontal-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .lap-text-xxs {
    font-size: 12px;
  }

  .lap-text-xs {
    font-size: 14px;
  }

  .lap-text-s {
    font-size: 18px;
  }

  .lap-text-m {
    font-size: 24px;
  }

  .lap-text-l {
    font-size: 30px;
  }

  .lap-text-xl {
    font-size: 42px;
  }

  .lap-text-xxl {
    font-size: 60px;
  }

  .lap-letter-s {
    letter-spacing: 0.05em;
  }

  .lap-letter-m {
    letter-spacing: 1px;
  }

  .lap-letter-l {
    letter-spacing: 3px;
  }

  .lap-text-center {
    text-align: center;
  }

  .lap-text-left {
    text-align: left;
  }

  .lap-text-right {
    text-align: right;
  }

  .lap-text-top {
    vertical-align: top;
  }

  .lap-text-bottom {
    vertical-align: bottom;
  }

  .lap-text-middle {
    vertical-align: middle;
  }

  .lap-text-uppercase {
    text-transform: uppercase;
  }

  .lap-text-lowercase {
    text-transform: lowercase;
  }

  .lap-text-capitalize {
    text-transform: capitalize;
  }

  .lap-text-underline {
    text-decoration: underline;
  }

  .lap-text-none {
    text-decoration: none;
  }

  .lap-line-s {
    line-height: 1.2;
  }

  .lap-line-m {
    line-height: 1.4;
  }

  .lap-line-l {
    line-height: 1.6;
  }

  .lap-hyphenate {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}
@media screen and (min-width: 1224px) {
  .desk-block {
    display: block;
  }

  .desk-inline {
    display: inline;
  }

  .desk-inline-block {
    display: inline-block;
  }

  .desk-relative {
    position: relative;
  }

  .desk-absolute {
    position: absolute;
  }

  .desk-fixed {
    position: fixed;
  }

  .desk-static {
    position: static;
  }

  .desk-is-hidden {
    display: none;
  }

  .desk-is-invisible {
    visibility: none;
  }

  .desk-is-visible {
    visibility: visible;
  }

  .desk-is-responsive {
    width: 100%;
  }

  .desk-is-responsive {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .desk-padding-top-n,
  .desk-padding-vertical-n,
  .desk-padding-all-n {
    padding-top: 0 !important;
  }

  .desk-padding-top-s,
  .desk-padding-vertical-s,
  .desk-padding-all-s {
    padding-top: 15px !important;
  }

  .desk-padding-top-m,
  .desk-padding-vertical-m,
  .desk-padding-all-m {
    padding-top: 30px !important;
  }

  .desk-padding-top-l,
  .desk-padding-vertical-l,
  .desk-padding-all-l {
    padding-top: 60px !important;
  }

  .desk-padding-bottom-n,
  .desk-padding-vertical-n,
  .desk-padding-all-n {
    padding-bottom: 0 !important;
  }

  .desk-padding-bottom-s,
  .desk-padding-vertical-s,
  .desk-padding-all-s {
    padding-bottom: 15px !important;
  }

  .desk-padding-bottom-m,
  .desk-padding-vertical-m,
  .desk-padding-all-m {
    padding-bottom: 30px !important;
  }

  .desk-padding-bottom-l,
  .desk-padding-vertical-l,
  .desk-padding-all-l {
    padding-bottom: 60px !important;
  }

  .desk-padding-left-n,
  .desk-padding-horizontal-n,
  .desk-padding-all-n {
    padding-left: 0 !important;
  }

  .desk-padding-left-s,
  .desk-padding-horizontal-s,
  .desk-padding-all-s {
    padding-left: 15px !important;
  }

  .desk-padding-left-m,
  .desk-padding-horizontal-m,
  .desk-padding-all-m {
    padding-left: 30px !important;
  }

  .desk-padding-left-l,
  .desk-padding-horizontal-l,
  .desk-padding-all-l {
    padding-left: 60px !important;
  }

  .desk-padding-right-n,
  .desk-padding-horizontal-n,
  .desk-padding-all-n {
    padding-right: 0 !important;
  }

  .desk-padding-right-s,
  .desk-padding-horizontal-s,
  .desk-padding-all-s {
    padding-right: 15px !important;
  }

  .desk-padding-right-m,
  .desk-padding-horizontal-m,
  .desk-padding-all-m {
    padding-right: 30px !important;
  }

  .desk-padding-right-l,
  .desk-padding-horizontal-l,
  .desk-padding-all-l {
    padding-right: 60px !important;
  }

  .desk-margin-top-n,
  .desk-margin-vertical-n,
  .desk-margin-all-n {
    margin-top: 0 !important;
  }

  .desk-margin-top-s,
  .desk-margin-vertical-s,
  .desk-margin-all-s {
    margin-top: 15px !important;
  }

  .desk-margin-top-m,
  .desk-margin-vertical-m,
  .desk-margin-all-m {
    margin-top: 30px !important;
  }

  .desk-margin-top-l,
  .desk-margin-vertical-l,
  .desk-margin-all-l {
    margin-top: 60px !important;
  }

  .desk-margin-bottom-n,
  .desk-margin-vertical-n,
  .desk-margin-all-n {
    margin-bottom: 0 !important;
  }

  .desk-margin-bottom-s,
  .desk-margin-vertical-s,
  .desk-margin-all-s {
    margin-bottom: 15px !important;
  }

  .desk-margin-bottom-m,
  .desk-margin-vertical-m,
  .desk-margin-all-m {
    margin-bottom: 30px !important;
  }

  .desk-margin-bottom-l,
  .desk-margin-vertical-l,
  .desk-margin-all-l {
    margin-bottom: 60px !important;
  }

  .desk-margin-left-n,
  .desk-margin-horizontal-n,
  .desk-margin-all-n {
    margin-left: 0 !important;
  }

  .desk-margin-left-s,
  .desk-margin-horizontal-s,
  .desk-margin-all-s {
    margin-left: 15px !important;
  }

  .desk-margin-left-m,
  .desk-margin-horizontal-m,
  .desk-margin-all-m {
    margin-left: 30px !important;
  }

  .desk-margin-left-l,
  .desk-margin-horizontal-l,
  .desk-margin-all-l {
    margin-left: 60px !important;
  }

  .desk-margin-right-n,
  .desk-margin-horizontal-n,
  .desk-margin-all-n {
    margin-right: 0 !important;
  }

  .desk-margin-right-s,
  .desk-margin-horizontal-s,
  .desk-margin-all-s {
    margin-right: 15px !important;
  }

  .desk-margin-right-m,
  .desk-margin-horizontal-m,
  .desk-margin-all-m {
    margin-right: 30px !important;
  }

  .desk-margin-right-l,
  .desk-margin-horizontal-l,
  .desk-margin-all-l {
    margin-right: 60px !important;
  }

  .desk-margin-horizontal-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .desk-text-xxs {
    font-size: 12px;
  }

  .desk-text-xs {
    font-size: 14px;
  }

  .desk-text-s {
    font-size: 18px;
  }

  .desk-text-m {
    font-size: 24px;
  }

  .desk-text-l {
    font-size: 30px;
  }

  .desk-text-xl {
    font-size: 42px;
  }

  .desk-text-xxl {
    font-size: 60px;
  }

  .desk-letter-s {
    letter-spacing: 0.05em;
  }

  .desk-letter-m {
    letter-spacing: 1px;
  }

  .desk-letter-l {
    letter-spacing: 3px;
  }

  .desk-text-center {
    text-align: center;
  }

  .desk-text-left {
    text-align: left;
  }

  .desk-text-right {
    text-align: right;
  }

  .desk-text-top {
    vertical-align: top;
  }

  .desk-text-bottom {
    vertical-align: bottom;
  }

  .desk-text-middle {
    vertical-align: middle;
  }

  .desk-text-uppercase {
    text-transform: uppercase;
  }

  .desk-text-lowercase {
    text-transform: lowercase;
  }

  .desk-text-capitalize {
    text-transform: capitalize;
  }

  .desk-text-underline {
    text-decoration: underline;
  }

  .desk-text-none {
    text-decoration: none;
  }

  .desk-line-s {
    line-height: 1.2;
  }

  .desk-line-m {
    line-height: 1.4;
  }

  .desk-line-l {
    line-height: 1.6;
  }

  .desk-hyphenate {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}
@media screen and (min-width: 1824px) {
  .cinema-block {
    display: block;
  }

  .cinema-inline {
    display: inline;
  }

  .cinema-inline-block {
    display: inline-block;
  }

  .cinema-relative {
    position: relative;
  }

  .cinema-absolute {
    position: absolute;
  }

  .cinema-fixed {
    position: fixed;
  }

  .cinema-static {
    position: static;
  }

  .cinema-is-hidden {
    display: none;
  }

  .cinema-is-invisible {
    visibility: none;
  }

  .cinema-is-visible {
    visibility: visible;
  }

  .cinema-is-responsive {
    width: 100%;
  }

  .cinema-is-responsive {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .cinema-padding-top-n,
  .cinema-padding-vertical-n,
  .cinema-padding-all-n {
    padding-top: 0 !important;
  }

  .cinema-padding-top-s,
  .cinema-padding-vertical-s,
  .cinema-padding-all-s {
    padding-top: 15px !important;
  }

  .cinema-padding-top-m,
  .cinema-padding-vertical-m,
  .cinema-padding-all-m {
    padding-top: 30px !important;
  }

  .cinema-padding-top-l,
  .cinema-padding-vertical-l,
  .cinema-padding-all-l {
    padding-top: 60px !important;
  }

  .cinema-padding-bottom-n,
  .cinema-padding-vertical-n,
  .cinema-padding-all-n {
    padding-bottom: 0 !important;
  }

  .cinema-padding-bottom-s,
  .cinema-padding-vertical-s,
  .cinema-padding-all-s {
    padding-bottom: 15px !important;
  }

  .cinema-padding-bottom-m,
  .cinema-padding-vertical-m,
  .cinema-padding-all-m {
    padding-bottom: 30px !important;
  }

  .cinema-padding-bottom-l,
  .cinema-padding-vertical-l,
  .cinema-padding-all-l {
    padding-bottom: 60px !important;
  }

  .cinema-padding-left-n,
  .cinema-padding-horizontal-n,
  .cinema-padding-all-n {
    padding-left: 0 !important;
  }

  .cinema-padding-left-s,
  .cinema-padding-horizontal-s,
  .cinema-padding-all-s {
    padding-left: 15px !important;
  }

  .cinema-padding-left-m,
  .cinema-padding-horizontal-m,
  .cinema-padding-all-m {
    padding-left: 30px !important;
  }

  .cinema-padding-left-l,
  .cinema-padding-horizontal-l,
  .cinema-padding-all-l {
    padding-left: 60px !important;
  }

  .cinema-padding-right-n,
  .cinema-padding-horizontal-n,
  .cinema-padding-all-n {
    padding-right: 0 !important;
  }

  .cinema-padding-right-s,
  .cinema-padding-horizontal-s,
  .cinema-padding-all-s {
    padding-right: 15px !important;
  }

  .cinema-padding-right-m,
  .cinema-padding-horizontal-m,
  .cinema-padding-all-m {
    padding-right: 30px !important;
  }

  .cinema-padding-right-l,
  .cinema-padding-horizontal-l,
  .cinema-padding-all-l {
    padding-right: 60px !important;
  }

  .cinema-margin-top-n,
  .cinema-margin-vertical-n,
  .cinema-margin-all-n {
    margin-top: 0 !important;
  }

  .cinema-margin-top-s,
  .cinema-margin-vertical-s,
  .cinema-margin-all-s {
    margin-top: 15px !important;
  }

  .cinema-margin-top-m,
  .cinema-margin-vertical-m,
  .cinema-margin-all-m {
    margin-top: 30px !important;
  }

  .cinema-margin-top-l,
  .cinema-margin-vertical-l,
  .cinema-margin-all-l {
    margin-top: 60px !important;
  }

  .cinema-margin-bottom-n,
  .cinema-margin-vertical-n,
  .cinema-margin-all-n {
    margin-bottom: 0 !important;
  }

  .cinema-margin-bottom-s,
  .cinema-margin-vertical-s,
  .cinema-margin-all-s {
    margin-bottom: 15px !important;
  }

  .cinema-margin-bottom-m,
  .cinema-margin-vertical-m,
  .cinema-margin-all-m {
    margin-bottom: 30px !important;
  }

  .cinema-margin-bottom-l,
  .cinema-margin-vertical-l,
  .cinema-margin-all-l {
    margin-bottom: 60px !important;
  }

  .cinema-margin-left-n,
  .cinema-margin-horizontal-n,
  .cinema-margin-all-n {
    margin-left: 0 !important;
  }

  .cinema-margin-left-s,
  .cinema-margin-horizontal-s,
  .cinema-margin-all-s {
    margin-left: 15px !important;
  }

  .cinema-margin-left-m,
  .cinema-margin-horizontal-m,
  .cinema-margin-all-m {
    margin-left: 30px !important;
  }

  .cinema-margin-left-l,
  .cinema-margin-horizontal-l,
  .cinema-margin-all-l {
    margin-left: 60px !important;
  }

  .cinema-margin-right-n,
  .cinema-margin-horizontal-n,
  .cinema-margin-all-n {
    margin-right: 0 !important;
  }

  .cinema-margin-right-s,
  .cinema-margin-horizontal-s,
  .cinema-margin-all-s {
    margin-right: 15px !important;
  }

  .cinema-margin-right-m,
  .cinema-margin-horizontal-m,
  .cinema-margin-all-m {
    margin-right: 30px !important;
  }

  .cinema-margin-right-l,
  .cinema-margin-horizontal-l,
  .cinema-margin-all-l {
    margin-right: 60px !important;
  }

  .cinema-margin-horizontal-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .cinema-text-xxs {
    font-size: 12px;
  }

  .cinema-text-xs {
    font-size: 14px;
  }

  .cinema-text-s {
    font-size: 18px;
  }

  .cinema-text-m {
    font-size: 24px;
  }

  .cinema-text-l {
    font-size: 30px;
  }

  .cinema-text-xl {
    font-size: 42px;
  }

  .cinema-text-xxl {
    font-size: 60px;
  }

  .cinema-letter-s {
    letter-spacing: 0.05em;
  }

  .cinema-letter-m {
    letter-spacing: 1px;
  }

  .cinema-letter-l {
    letter-spacing: 3px;
  }

  .cinema-text-center {
    text-align: center;
  }

  .cinema-text-left {
    text-align: left;
  }

  .cinema-text-right {
    text-align: right;
  }

  .cinema-text-top {
    vertical-align: top;
  }

  .cinema-text-bottom {
    vertical-align: bottom;
  }

  .cinema-text-middle {
    vertical-align: middle;
  }

  .cinema-text-uppercase {
    text-transform: uppercase;
  }

  .cinema-text-lowercase {
    text-transform: lowercase;
  }

  .cinema-text-capitalize {
    text-transform: capitalize;
  }

  .cinema-text-underline {
    text-decoration: underline;
  }

  .cinema-text-none {
    text-decoration: none;
  }

  .cinema-line-s {
    line-height: 1.2;
  }

  .cinema-line-m {
    line-height: 1.4;
  }

  .cinema-line-l {
    line-height: 1.6;
  }

  .cinema-hyphenate {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}
html, body {
  height: 100%;
}

body {
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Helmut, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
body.no-scroll {
  overflow: hidden;
  position: fixed;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active, a:focus {
  outline: 0;
}

.button, .button-invert, .button-neutral {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  line-height: 1;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out;
}
.button:active, .button-invert:active, .button-neutral:active, .button:hover, .button-invert:hover, .button-neutral:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-invert {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
.button-invert:active, .button-invert:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-neutral {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
}
.button-neutral:active, .button-neutral:hover {
  background-color: #000000;
  color: #ffffff;
}

.button[disabled], [disabled].button-invert, [disabled].button-neutral {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

input, label, select, button, textarea {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  vertical-align: middle;
  white-space: normal;
  line-height: inherit;
  background: none;
  /* Browsers have different default form fonts */
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

input {
  /* Make webkit render the search input like a normal text field */
  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  /* Fix IE7 display bug */
  /* These elements are usually rendered a certain way by the browser */
}
input:focus {
  outline: 0;
}
input[type=checkbox], input[type=radio] {
  width: 13px;
  height: 13px;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}
input[type="reset"], input[type="button"], input[type="submit"] {
  overflow: visible;
}
input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
}

select {
  box-sizing: border-box;
  /* Move the label to the top */
}
select[multiple] {
  vertical-align: top;
}

button {
  background: none;
  border: 0;
  outline: none;
  /* IE8 and FF freak out if this rule is within another selector */
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:active, button:focus {
  outline: 0;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  box-sizing: border-box;
  line-height: 1;
  width: 100%;
}

fieldset {
  padding-top: 30px;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  border-color: #333;
  color: #333;
  height: 40px;
  padding: 5px;
}

textarea,
select[multiple] {
  height: 80px;
}

.above-footer {
  min-height: 100%;
  margin-bottom: -40px;
}

.above-footer:after {
  content: "";
  display: block;
}

.footer,
.above-footer:after {
  height: 40px;
  width: 100%;
}

.footer {
  background: black;
  z-index: 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    min-height: 40px;
  }
}

.footer-links-left, .footer-links-right {
  text-align: center;
  text-transform: lowercase;
}

@media screen and (min-width: 768px) {
  .footer-links-left {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-links-right {
    text-align: right;
  }
}

.footer-link {
  display: inline-block;
  width: auto;
}
.footer-link a {
  color: white;
  height: 30px;
  line-height: 30px;
  padding-right: xs;
  font-size: 14px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer-link a {
    height: 40px;
    line-height: 40px;
  }
}

.no-touch .footer-link a:hover {
  color: white;
  text-decoration: underline;
}

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .container {
    width: 798px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1054px;
  }
}
@media screen and (min-width: 1224px) {
  .container {
    width: 1254px;
  }
}
@media screen and (min-width: 1824px) {
  .container {
    width: 1854px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-palm-1, .col-tab-1, .col-lap-1, .col-desk-1, .col-cinema-1, .col-palm-2, .col-tab-2, .col-lap-2, .col-desk-2, .col-cinema-2, .col-palm-3, .nav-menu-toggle, .col-tab-3, .col-lap-3, .col-desk-3, .col-cinema-3, .col-palm-4, .col-tab-4, .col-lap-4, .col-desk-4, .col-cinema-4, .col-palm-5, .col-tab-5, .nav-brand, .col-lap-5, .col-desk-5, .col-cinema-5, .col-palm-6, .col-tab-6, .col-lap-6, .col-desk-6, .col-cinema-6, .col-palm-7, .col-tab-7, .nav-menu, .col-lap-7, .col-desk-7, .col-cinema-7, .col-palm-8, .col-tab-8, .col-lap-8, .col-desk-8, .col-cinema-8, .col-palm-9, .nav-brand, .col-tab-9, .col-lap-9, .col-desk-9, .col-cinema-9, .col-palm-10, .col-tab-10, .col-lap-10, .col-desk-10, .col-cinema-10, .col-palm-11, .col-tab-11, .col-lap-11, .col-desk-11, .col-cinema-11, .col-palm-12, .nav-menu-item, .col-tab-12, .col-lap-12, .col-desk-12, .col-cinema-12 {
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-palm-1, .col-palm-2, .col-palm-3, .nav-menu-toggle, .col-palm-4, .col-palm-5, .col-palm-6, .col-palm-7, .col-palm-8, .col-palm-9, .nav-brand, .col-palm-10, .col-palm-11, .col-palm-12, .nav-menu-item {
  float: left;
}

.col-palm-1 {
  width: 8.33333%;
}

.col-palm-2 {
  width: 16.66667%;
}

.col-palm-3, .nav-menu-toggle {
  width: 25%;
}

.col-palm-4 {
  width: 33.33333%;
}

.col-palm-5 {
  width: 41.66667%;
}

.col-palm-6 {
  width: 50%;
}

.col-palm-7 {
  width: 58.33333%;
}

.col-palm-8 {
  width: 66.66667%;
}

.col-palm-9, .nav-brand {
  width: 75%;
}

.col-palm-10 {
  width: 83.33333%;
}

.col-palm-11 {
  width: 91.66667%;
}

.col-palm-12, .nav-menu-item {
  width: 100%;
}

.col-palm-pull-0 {
  right: auto;
}

.col-palm-pull-1 {
  right: 8.33333%;
}

.col-palm-pull-2 {
  right: 16.66667%;
}

.col-palm-pull-3 {
  right: 25%;
}

.col-palm-pull-4 {
  right: 33.33333%;
}

.col-palm-pull-5 {
  right: 41.66667%;
}

.col-palm-pull-6 {
  right: 50%;
}

.col-palm-pull-7 {
  right: 58.33333%;
}

.col-palm-pull-8 {
  right: 66.66667%;
}

.col-palm-pull-9 {
  right: 75%;
}

.col-palm-pull-10 {
  right: 83.33333%;
}

.col-palm-pull-11 {
  right: 91.66667%;
}

.col-palm-pull-12 {
  right: 100%;
}

.col-palm-push-0 {
  left: auto;
}

.col-palm-push-1 {
  left: 8.33333%;
}

.col-palm-push-2 {
  left: 16.66667%;
}

.col-palm-push-3 {
  left: 25%;
}

.col-palm-push-4 {
  left: 33.33333%;
}

.col-palm-push-5 {
  left: 41.66667%;
}

.col-palm-push-6 {
  left: 50%;
}

.col-palm-push-7 {
  left: 58.33333%;
}

.col-palm-push-8 {
  left: 66.66667%;
}

.col-palm-push-9 {
  left: 75%;
}

.col-palm-push-10 {
  left: 83.33333%;
}

.col-palm-push-11 {
  left: 91.66667%;
}

.col-palm-push-12 {
  left: 100%;
}

.col-palm-offset-0 {
  margin-left: 0%;
}

.col-palm-offset-1 {
  margin-left: 8.33333%;
}

.col-palm-offset-2 {
  margin-left: 16.66667%;
}

.col-palm-offset-3 {
  margin-left: 25%;
}

.col-palm-offset-4 {
  margin-left: 33.33333%;
}

.col-palm-offset-5 {
  margin-left: 41.66667%;
}

.col-palm-offset-6 {
  margin-left: 50%;
}

.col-palm-offset-7 {
  margin-left: 58.33333%;
}

.col-palm-offset-8 {
  margin-left: 66.66667%;
}

.col-palm-offset-9 {
  margin-left: 75%;
}

.col-palm-offset-10 {
  margin-left: 83.33333%;
}

.col-palm-offset-11 {
  margin-left: 91.66667%;
}

.col-palm-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 768px) {
  .col-tab-1, .col-tab-2, .col-tab-3, .col-tab-4, .col-tab-5, .nav-brand, .col-tab-6, .col-tab-7, .nav-menu, .col-tab-8, .col-tab-9, .col-tab-10, .col-tab-11, .col-tab-12 {
    float: left;
  }

  .col-tab-1 {
    width: 8.33333%;
  }

  .col-tab-2 {
    width: 16.66667%;
  }

  .col-tab-3 {
    width: 25%;
  }

  .col-tab-4 {
    width: 33.33333%;
  }

  .col-tab-5, .nav-brand {
    width: 41.66667%;
  }

  .col-tab-6 {
    width: 50%;
  }

  .col-tab-7, .nav-menu {
    width: 58.33333%;
  }

  .col-tab-8 {
    width: 66.66667%;
  }

  .col-tab-9 {
    width: 75%;
  }

  .col-tab-10 {
    width: 83.33333%;
  }

  .col-tab-11 {
    width: 91.66667%;
  }

  .col-tab-12 {
    width: 100%;
  }

  .col-tab-pull-0 {
    right: auto;
  }

  .col-tab-pull-1 {
    right: 8.33333%;
  }

  .col-tab-pull-2 {
    right: 16.66667%;
  }

  .col-tab-pull-3 {
    right: 25%;
  }

  .col-tab-pull-4 {
    right: 33.33333%;
  }

  .col-tab-pull-5 {
    right: 41.66667%;
  }

  .col-tab-pull-6 {
    right: 50%;
  }

  .col-tab-pull-7 {
    right: 58.33333%;
  }

  .col-tab-pull-8 {
    right: 66.66667%;
  }

  .col-tab-pull-9 {
    right: 75%;
  }

  .col-tab-pull-10 {
    right: 83.33333%;
  }

  .col-tab-pull-11 {
    right: 91.66667%;
  }

  .col-tab-pull-12 {
    right: 100%;
  }

  .col-tab-push-0 {
    left: auto;
  }

  .col-tab-push-1 {
    left: 8.33333%;
  }

  .col-tab-push-2 {
    left: 16.66667%;
  }

  .col-tab-push-3 {
    left: 25%;
  }

  .col-tab-push-4 {
    left: 33.33333%;
  }

  .col-tab-push-5 {
    left: 41.66667%;
  }

  .col-tab-push-6 {
    left: 50%;
  }

  .col-tab-push-7 {
    left: 58.33333%;
  }

  .col-tab-push-8 {
    left: 66.66667%;
  }

  .col-tab-push-9 {
    left: 75%;
  }

  .col-tab-push-10 {
    left: 83.33333%;
  }

  .col-tab-push-11 {
    left: 91.66667%;
  }

  .col-tab-push-12 {
    left: 100%;
  }

  .col-tab-offset-0 {
    margin-left: 0%;
  }

  .col-tab-offset-1 {
    margin-left: 8.33333%;
  }

  .col-tab-offset-2 {
    margin-left: 16.66667%;
  }

  .col-tab-offset-3 {
    margin-left: 25%;
  }

  .col-tab-offset-4 {
    margin-left: 33.33333%;
  }

  .col-tab-offset-5 {
    margin-left: 41.66667%;
  }

  .col-tab-offset-6 {
    margin-left: 50%;
  }

  .col-tab-offset-7 {
    margin-left: 58.33333%;
  }

  .col-tab-offset-8 {
    margin-left: 66.66667%;
  }

  .col-tab-offset-9 {
    margin-left: 75%;
  }

  .col-tab-offset-10 {
    margin-left: 83.33333%;
  }

  .col-tab-offset-11 {
    margin-left: 91.66667%;
  }

  .col-tab-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .col-lap-1, .col-lap-2, .col-lap-3, .col-lap-4, .col-lap-5, .col-lap-6, .col-lap-7, .col-lap-8, .col-lap-9, .col-lap-10, .col-lap-11, .col-lap-12 {
    float: left;
  }

  .col-lap-1 {
    width: 8.33333%;
  }

  .col-lap-2 {
    width: 16.66667%;
  }

  .col-lap-3 {
    width: 25%;
  }

  .col-lap-4 {
    width: 33.33333%;
  }

  .col-lap-5 {
    width: 41.66667%;
  }

  .col-lap-6 {
    width: 50%;
  }

  .col-lap-7 {
    width: 58.33333%;
  }

  .col-lap-8 {
    width: 66.66667%;
  }

  .col-lap-9 {
    width: 75%;
  }

  .col-lap-10 {
    width: 83.33333%;
  }

  .col-lap-11 {
    width: 91.66667%;
  }

  .col-lap-12 {
    width: 100%;
  }

  .col-lap-pull-0 {
    right: auto;
  }

  .col-lap-pull-1 {
    right: 8.33333%;
  }

  .col-lap-pull-2 {
    right: 16.66667%;
  }

  .col-lap-pull-3 {
    right: 25%;
  }

  .col-lap-pull-4 {
    right: 33.33333%;
  }

  .col-lap-pull-5 {
    right: 41.66667%;
  }

  .col-lap-pull-6 {
    right: 50%;
  }

  .col-lap-pull-7 {
    right: 58.33333%;
  }

  .col-lap-pull-8 {
    right: 66.66667%;
  }

  .col-lap-pull-9 {
    right: 75%;
  }

  .col-lap-pull-10 {
    right: 83.33333%;
  }

  .col-lap-pull-11 {
    right: 91.66667%;
  }

  .col-lap-pull-12 {
    right: 100%;
  }

  .col-lap-push-0 {
    left: auto;
  }

  .col-lap-push-1 {
    left: 8.33333%;
  }

  .col-lap-push-2 {
    left: 16.66667%;
  }

  .col-lap-push-3 {
    left: 25%;
  }

  .col-lap-push-4 {
    left: 33.33333%;
  }

  .col-lap-push-5 {
    left: 41.66667%;
  }

  .col-lap-push-6 {
    left: 50%;
  }

  .col-lap-push-7 {
    left: 58.33333%;
  }

  .col-lap-push-8 {
    left: 66.66667%;
  }

  .col-lap-push-9 {
    left: 75%;
  }

  .col-lap-push-10 {
    left: 83.33333%;
  }

  .col-lap-push-11 {
    left: 91.66667%;
  }

  .col-lap-push-12 {
    left: 100%;
  }

  .col-lap-offset-0 {
    margin-left: 0%;
  }

  .col-lap-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lap-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lap-offset-3 {
    margin-left: 25%;
  }

  .col-lap-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lap-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lap-offset-6 {
    margin-left: 50%;
  }

  .col-lap-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lap-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lap-offset-9 {
    margin-left: 75%;
  }

  .col-lap-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lap-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lap-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1224px) {
  .col-desk-1, .col-desk-2, .col-desk-3, .col-desk-4, .col-desk-5, .col-desk-6, .col-desk-7, .col-desk-8, .col-desk-9, .col-desk-10, .col-desk-11, .col-desk-12 {
    float: left;
  }

  .col-desk-1 {
    width: 8.33333%;
  }

  .col-desk-2 {
    width: 16.66667%;
  }

  .col-desk-3 {
    width: 25%;
  }

  .col-desk-4 {
    width: 33.33333%;
  }

  .col-desk-5 {
    width: 41.66667%;
  }

  .col-desk-6 {
    width: 50%;
  }

  .col-desk-7 {
    width: 58.33333%;
  }

  .col-desk-8 {
    width: 66.66667%;
  }

  .col-desk-9 {
    width: 75%;
  }

  .col-desk-10 {
    width: 83.33333%;
  }

  .col-desk-11 {
    width: 91.66667%;
  }

  .col-desk-12 {
    width: 100%;
  }

  .col-desk-pull-0 {
    right: auto;
  }

  .col-desk-pull-1 {
    right: 8.33333%;
  }

  .col-desk-pull-2 {
    right: 16.66667%;
  }

  .col-desk-pull-3 {
    right: 25%;
  }

  .col-desk-pull-4 {
    right: 33.33333%;
  }

  .col-desk-pull-5 {
    right: 41.66667%;
  }

  .col-desk-pull-6 {
    right: 50%;
  }

  .col-desk-pull-7 {
    right: 58.33333%;
  }

  .col-desk-pull-8 {
    right: 66.66667%;
  }

  .col-desk-pull-9 {
    right: 75%;
  }

  .col-desk-pull-10 {
    right: 83.33333%;
  }

  .col-desk-pull-11 {
    right: 91.66667%;
  }

  .col-desk-pull-12 {
    right: 100%;
  }

  .col-desk-push-0 {
    left: auto;
  }

  .col-desk-push-1 {
    left: 8.33333%;
  }

  .col-desk-push-2 {
    left: 16.66667%;
  }

  .col-desk-push-3 {
    left: 25%;
  }

  .col-desk-push-4 {
    left: 33.33333%;
  }

  .col-desk-push-5 {
    left: 41.66667%;
  }

  .col-desk-push-6 {
    left: 50%;
  }

  .col-desk-push-7 {
    left: 58.33333%;
  }

  .col-desk-push-8 {
    left: 66.66667%;
  }

  .col-desk-push-9 {
    left: 75%;
  }

  .col-desk-push-10 {
    left: 83.33333%;
  }

  .col-desk-push-11 {
    left: 91.66667%;
  }

  .col-desk-push-12 {
    left: 100%;
  }

  .col-desk-offset-0 {
    margin-left: 0%;
  }

  .col-desk-offset-1 {
    margin-left: 8.33333%;
  }

  .col-desk-offset-2 {
    margin-left: 16.66667%;
  }

  .col-desk-offset-3 {
    margin-left: 25%;
  }

  .col-desk-offset-4 {
    margin-left: 33.33333%;
  }

  .col-desk-offset-5 {
    margin-left: 41.66667%;
  }

  .col-desk-offset-6 {
    margin-left: 50%;
  }

  .col-desk-offset-7 {
    margin-left: 58.33333%;
  }

  .col-desk-offset-8 {
    margin-left: 66.66667%;
  }

  .col-desk-offset-9 {
    margin-left: 75%;
  }

  .col-desk-offset-10 {
    margin-left: 83.33333%;
  }

  .col-desk-offset-11 {
    margin-left: 91.66667%;
  }

  .col-desk-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1824px) {
  .col-cinema-1, .col-cinema-2, .col-cinema-3, .col-cinema-4, .col-cinema-5, .col-cinema-6, .col-cinema-7, .col-cinema-8, .col-cinema-9, .col-cinema-10, .col-cinema-11, .col-cinema-12 {
    float: left;
  }

  .col-cinema-1 {
    width: 8.33333%;
  }

  .col-cinema-2 {
    width: 16.66667%;
  }

  .col-cinema-3 {
    width: 25%;
  }

  .col-cinema-4 {
    width: 33.33333%;
  }

  .col-cinema-5 {
    width: 41.66667%;
  }

  .col-cinema-6 {
    width: 50%;
  }

  .col-cinema-7 {
    width: 58.33333%;
  }

  .col-cinema-8 {
    width: 66.66667%;
  }

  .col-cinema-9 {
    width: 75%;
  }

  .col-cinema-10 {
    width: 83.33333%;
  }

  .col-cinema-11 {
    width: 91.66667%;
  }

  .col-cinema-12 {
    width: 100%;
  }

  .col-cinema-pull-0 {
    right: auto;
  }

  .col-cinema-pull-1 {
    right: 8.33333%;
  }

  .col-cinema-pull-2 {
    right: 16.66667%;
  }

  .col-cinema-pull-3 {
    right: 25%;
  }

  .col-cinema-pull-4 {
    right: 33.33333%;
  }

  .col-cinema-pull-5 {
    right: 41.66667%;
  }

  .col-cinema-pull-6 {
    right: 50%;
  }

  .col-cinema-pull-7 {
    right: 58.33333%;
  }

  .col-cinema-pull-8 {
    right: 66.66667%;
  }

  .col-cinema-pull-9 {
    right: 75%;
  }

  .col-cinema-pull-10 {
    right: 83.33333%;
  }

  .col-cinema-pull-11 {
    right: 91.66667%;
  }

  .col-cinema-pull-12 {
    right: 100%;
  }

  .col-cinema-push-0 {
    left: auto;
  }

  .col-cinema-push-1 {
    left: 8.33333%;
  }

  .col-cinema-push-2 {
    left: 16.66667%;
  }

  .col-cinema-push-3 {
    left: 25%;
  }

  .col-cinema-push-4 {
    left: 33.33333%;
  }

  .col-cinema-push-5 {
    left: 41.66667%;
  }

  .col-cinema-push-6 {
    left: 50%;
  }

  .col-cinema-push-7 {
    left: 58.33333%;
  }

  .col-cinema-push-8 {
    left: 66.66667%;
  }

  .col-cinema-push-9 {
    left: 75%;
  }

  .col-cinema-push-10 {
    left: 83.33333%;
  }

  .col-cinema-push-11 {
    left: 91.66667%;
  }

  .col-cinema-push-12 {
    left: 100%;
  }

  .col-cinema-offset-0 {
    margin-left: 0%;
  }

  .col-cinema-offset-1 {
    margin-left: 8.33333%;
  }

  .col-cinema-offset-2 {
    margin-left: 16.66667%;
  }

  .col-cinema-offset-3 {
    margin-left: 25%;
  }

  .col-cinema-offset-4 {
    margin-left: 33.33333%;
  }

  .col-cinema-offset-5 {
    margin-left: 41.66667%;
  }

  .col-cinema-offset-6 {
    margin-left: 50%;
  }

  .col-cinema-offset-7 {
    margin-left: 58.33333%;
  }

  .col-cinema-offset-8 {
    margin-left: 66.66667%;
  }

  .col-cinema-offset-9 {
    margin-left: 75%;
  }

  .col-cinema-offset-10 {
    margin-left: 83.33333%;
  }

  .col-cinema-offset-11 {
    margin-left: 91.66667%;
  }

  .col-cinema-offset-12 {
    margin-left: 100%;
  }
}
.loader {
  background-size: 50px auto;
  background-color: #ffffff;
  background-image: url(loader.gif);
  z-index: 999;
}

.media, .media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.media-image {
  float: left;
  margin-right: 10px;
}

.media-image-right {
  float: right;
  margin-left: 10px;
}

.flag {
  display: table;
  width: 100%;
}

.flag-image,
.flag-body {
  display: table-cell;
  vertical-align: middle;
}

.flag-image {
  padding-right: 10px;
}
.flag-image > img {
  display: block;
  max-width: none;
}

.flag-body {
  width: 100%;
}

.nav-overlay {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 29;
}

.nav {
  margin-left: -15px;
  margin-right: -15px;
  height: 60px;
  z-index: 30;
  position: relative;
}
.nav:before, .nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav a {
  color: #000000;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 10px 15px;
}
.nav a:hover {
  color: #000000;
}

.nav-brand {
  line-height: 60px;
  z-index: 32;
}

.nav-logo {
  padding: 0 !important;
}
.nav-logo:hover {
  background: transparent !important;
}
.nav-logo img {
  display: inline-block;
  margin-top: -10px;
  height: 50px;
  vertical-align: middle;
  width: auto;
}

@media screen and (max-width: 767px) {
  .nav-with-logo .nav-name {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu-toggle {
    display: none;
  }
}

.nav-menu-toggle-control {
  float: right;
  height: 60px !important;
  line-height: 60px !important;
  position: relative;
  padding: 0 !important;
  z-index: 32;
}
@media screen and (min-width: 768px) {
  .nav-menu-toggle-control {
    display: block;
  }
}

.nav-menu {
  display: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav-menu {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .nav-menu {
    background: #ffffff;
    left: 0;
    top: 0;
    padding-top: 60px;
    position: absolute !important;
    width: 100%;
    z-index: 31;
  }
}
@media screen and (min-width: 768px) {
  .nav-menu a:hover {
    background: #000000;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu-items {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu-item {
    display: inline-block;
    float: none !important;
    width: auto !important;
  }
}

.reading-text,
.reading-text h1,
.reading-text h2,
.reading-text h3,
.reading-text h4,
.reading-text h5,
.reading-text h6,
.reading-text p,
.reading-text li {
  line-height: 1.2;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Helmut, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.reading-text a {
  color: #4183c4;
}
.reading-text a:hover {
  text-decoration: underline;
}
.reading-text section {
  margin-top: xl;
}
@media screen and (min-width: 768px) {
  .reading-text section {
    margin-top: xxl;
  }
}
.reading-text hr {
  margin-top: 60px;
  color: #333;
  background: #333;
  border: none;
  display: block;
  height: 3px;
}
.reading-text h1,
.reading-text h2,
.reading-text h3,
.reading-text h4,
.reading-text h5,
.reading-text h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Helmut, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.reading-text h1 {
  font-size: 42px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .reading-text h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) {
  .reading-text h1 {
    margin-bottom: 60px;
  }
}
.reading-text h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .reading-text h2 {
    font-size: 42px;
  }
}
@media screen and (min-width: 768px) {
  .reading-text h2 {
    margin-bottom: 60px;
  }
}
.reading-text h2:not(:first-child) {
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .reading-text h2:not(:first-child) {
    margin-top: 60px;
  }
}
.reading-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .reading-text h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .reading-text h3 {
    margin-bottom: 30px;
  }
}
.reading-text h3:not(:first-child) {
  margin-top: 15px;
}
@media screen and (min-width: 1024px) {
  .reading-text h3:not(:first-child) {
    margin-top: 30px;
  }
}
.reading-text blockquote {
  border-left: 3px solid #333;
  line-height: 1.4;
  padding-left: 30px;
  font-size: 24px;
}
.reading-text ol,
.reading-text ul {
  list-style-position: outside;
}
.reading-text ol {
  list-style-type: decimal;
}
.reading-text ul {
  list-style-type: disc;
}
.reading-text li,
.reading-text p {
  line-height: 1.4;
  margin-bottom: 15px;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .reading-text li,
  .reading-text p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .reading-text li,
  .reading-text p {
    margin-bottom: 30px;
  }
}
.reading-text .lead {
  line-height: 1.4;
  margin-bottom: 30px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  .reading-text .lead {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .reading-text .lead {
    margin-bottom: 60px;
  }
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.to {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.ri {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bo {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.le {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.9);
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
