{% extends layout %}

{% block body %}
  <div class="container">
    <div class="reading-text">
      <section>
        <h1>Reading Text</h1>
        <p class="lead">An example of the `reading-text` class from the typography module</p>

        <p>
          <a href="#" data-scroll-to="#section-2" data-scroll-to-offset="-100">
            Scroll to section Two
          </a>
        </p>

        <h2>Heading 2</h2>
        <p>So she set to work, and very soon finished off the cake.</p>

        <p></p>

        <p>And she went on planning to herself how she would manage it. 'They must  go by the carrier,' she thought; 'and how funny it'll seem, sending  presents to one's own feet! And how odd the directions will look!</p>

        <p>Oh dear, what nonsense I'm talking!'</p>

        <p>Just then her head struck against the roof of the hall: in fact she was  now more than nine feet high, and she at once took up the little golden  key and hurried off to the garden door.</p>

        <hr>

        <h3>Heading 3</h3>
        <ul>
          <li>So she set to work, and very soon finished off the cake</li>

          <li>  And she went on planning to herself how she would manage it</li>

          <li> 'They must  go by the carrier,' she thought; 'and how funny it'll seem, sending  presents to one's own feet! And how odd the directions will look! Oh dear, what nonsense I'm talking!' Just then her head struck against the roof of the hall: in fact she was  now more than nine feet high, and she at once took up the little golden  key and hurried off to the garden door</li>

          <li> Poor Alice! It was as much as she could do, lying down on one side, to  look through into the garden with one eye; but to get through was more  hopeless than ever: she sat down and began to cry again</li>

          <li> 'You ought to be ashamed of yourself,' said Alice, 'a great girl like  you,' (she might well say this), 'to go on crying in this way! Stop this  moment, I tell you!' But she went on all the same, shedding gallons of  tears, until there was a large pool all round her, about four inches  deep and reaching half down the hall</li>

          <li> After a time she heard a little pattering of feet in the distance, and  she hastily dried her eyes to see what was coming</li>
        </ul>
      </section>

      <section id="section-2">
        <h2>Section Two</h2>
        <p class="lead">An example of the `reading-text` section from the typography module</p>

        <p>
          <a href="#" data-tooltip data-tooltip data-placement="bottom" title="Hello!">
            Show me a tooltip!
          </a>
        </p>
      </section>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-palm-12 col-tab-4 margin-bottom-l">
        <p>Col</p>
      </div>

      <div class="col-palm-12 col-tab-4 margin-bottom-l">
        <p>Col</p>
      </div>

      <div class="col-palm-12 col-tab-4 margin-bottom-l">
        <p>Col</p>
      </div>
    </div>

    <div class="row">
      <div class="col-palm-12 col-tab-4 margin-bottom-l">
        <p>Col</p>
      </div>

      <div class="col-palm-12 col-tab-4 margin-bottom-l">
        <p>Col</p>
      </div>

      <div class="col-palm-12 col-tab-4 margin-bottom-l">
        <p>Col</p>
      </div>
    </div>
  </div>

  <div class="container">
    <form>
      <fieldset>
        <textarea></textarea>
      </fieldset>

      <fieldset>
        <input type="date" name="birthday">
      </fieldset>

      <fieldset>
        <input type="time" name="game-time">
      </fieldset>

      <fieldset>
        <input type="email" name="email-address">
      </fieldset>

      <fieldset>
        <input type="url" name="website">
      </fieldset>

      <fieldset>
        <input type="number" name="cost">
      </fieldset>

      <fieldset id="phone-number">
        <input type="tel" name="phone-number">
      </fieldset>

      <fieldset>
        <input type="radio" name="day" value="Friday" checked> Friday
        <input type="radio" name="day" value="Saturday"> Saturday
        <input type="radio" name="day" value="Sunday"> Sunday
      </fieldset>

      <fieldset>
        <input type="checkbox" name="day" value="Friday" checked> Friday
        <input type="checkbox" name="day" value="Saturday"> Saturday
        <input type="checkbox" name="day" value="Sunday"> Sunday
      </fieldset>

      <fieldset>
        <select name="day">
          <option value="Friday" selected>Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
      </fieldset>

      <fieldset>
        <select name="day" multiple>
          <option value="Friday" selected>Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
      </fieldset>

      <input type="submit" name="submit" value="Send" class="button">
    </form>
  </div>
{% endblock %}
