{% extends layout %}

{% block body %}
  <div class="container">
    <div class="reading-text">
      <section>
        <h1>Page</h1>
        <p class="lead">An example of another page</p>
      </section>
    </div>
  </div>
{% endblock %}
