<footer>
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-tab-6">
          <ul class="footer-links-left">
            <li class="footer-link"><a href="">Link</a></li>
            <li class="footer-link"><a href="">Link</a></li>
            <li class="footer-link"><a href="">Link</a></li>
          </ul>
        </div>

        <div class="col-tab-6">
          <ul class="footer-links-right">
            <li class="footer-link"><a href="">Link</a></li>
            <li class="footer-link"><a href="">Link</a></li>
            <li class="footer-link"><a href="">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
