<div class="container-fluid" data-nav>
  <div class="nav-overlay" data-nav-overlay data-hidden></div>
  <div class="nav">
    <div class="nav-brand">
      <a href="/" itemprop="url" class="nav-logo">
        <img src="assets/logo.png" alt="CompanyName" itemprop="logo">
      </a>
    </div>

    <div class="nav-menu-toggle">
      <a href="#" class="nav-menu-toggle-control" data-toggle-nav-menu>Menu</a>
    </div>

    <div class="nav-menu" data-nav-menu data-nav-menu-break-point="768">
      <ul class="nav-menu-items">
        <li class="nav-menu-item"><a href="/page.html">Page</a></li>
        <li class="nav-menu-item"><a href="#">Link</a></li>
        <li class="nav-menu-item nav-menu-item-right"><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</div>
