<center class="banner">
  <table class="container">
    <tr>
      <td>

        <table class="row">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="u-text-center u-padding-vertical-md">
                    <img src="logo.png" height="50" class="banner-logo">
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</center>
