<center>
  <table class="container">
    <tr>
      <td>

        <table class="row">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td>
                    <div class="u-text-center u-padding-vertical-lg">
                    <h1 class="u-text-center">Hello!</h1>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</center>
