<center class="footer u-padding-vertical-lg">
  <table class="container">
    <tr>
      <td>
        <table class="row">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td class="u-text-center">
                    <p class="u-text-xxs u-text-center u-padding-vertical-sm">
                      *|LIST:DESCRIPTION|*
                    </p>

                    <p class="u-text-xxs u-text-center">
                      <a href="*|UNSUB|*">Unsubscribe</a>
                    </p>

                    <p class="u-text-xxs u-text-center">
                      *|HTML:LIST_ADDRESS|*
                    </p>

                    <p class="u-text-xxs u-text-center">
                      &#169; *|CURRENT_YEAR|* *|LIST:COMPANY|* All rights reserved.
                    </p>

                    <p class="u-text-xxs u-text-center">
                      <a href="*|UPDATE_PROFILE|*">Update your profile</a>
                    </p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
