<center>
  <table class="container">
    <tr>
      <td>

        <table class="row">
          <tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tr>
                  <td>
                    <div class="u-padding-top-lg"></div>
                    <hr />
                    <div class="u-padding-bottom-lg"></div>

                    <h3 class="u-text-center">The Team</h3>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</center>
