<div class="preheader">The first bit of text a user will see in their email client</div>

<table class="body">
  <tbody>
    <tr>
      <td class="center" align="center" valign="top">

        {% include 'banner' %}

        {% include 'body' %}

        {% include 'footer' %}

      </td>
    </tr>
  </tbody>
</table>
